sqlparse
openpyxl
xlsxwriter
openai
streamlit
pandas
sqlalchemy
psycopg2-binary
python-dotenv
plotly
aiobotocore==2.19.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aioitertools==0.12.0
aiosignal==1.3.2
attrs==25.1.0
botocore==1.36.3
certifi==2025.1.31
charset-normalizer==3.4.1
frozenlist==1.5.0
fsspec==2025.2.0
idna==3.10
jmespath==1.0.1
multidict==6.1.0
numpy==2.2.3
oauthlib==3.2.2
pandas==2.2.3
propcache==0.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
requests-oauthlib==2.0.0
s3fs==2025.2.0
six==1.17.0
tweepy==4.15.0
tzdata==2025.1
urllib3==2.3.0
wrapt==1.17.2
yarl==1.18.3
